
<div class="container" style="" >
  <div class="row">
    <div class="col"> {{!-- phan input search san pham va so luong --}} 
      <form method="get" action="/adminmanage/bills/find" style="padding:2%;float:left;">
      <div class="input-group">
        <div class="col-xs-3" style="margin-top: 110px;">
          <h1><a href='/adminmanage' style="color:black";> go back</a></h1> 
            <label for="productName" class="form-label">Searching product</label>
            <input type="text" class="form-control" style="text-transform: lowercase" name="product_name" placeholder="Enter your Product name">
            <button type="submit" class="btn1 btn-outline-dark" id="submitbutton"><i class="fas fa-search" ></i>Find Product</button>
            <button type="button" class="btn1 btn-outline-dark" onclick="myFunction()">Show</button>
        </div>
      </div>

      <div id="myDIV" style="padding:2%">
        {{#if data}}
          <div class="table-wrapper-scroll-y my-custom-scrollbar"> 
          <table class="table table-scroll table-striped">
        <thead>
            <tr>
                <th class="name">Product Name</th>
                <th class="qty">Quantity</th>
                <th class="price">Unit Price</th>
                <th class="add">add to cart</th>
            </tr>
        </thead>
        <tbody>
          {{#each data }}
            <tr>
                <td class="name">{{this.product_name}}</td>
                <td class="qty">{{this.stock}}</td>
                <td class="price">{{this.price}}$</td>
                <td><a href="add/{{this._id}}">add to cart</a></td>
            </tr>
          {{/each}}
       </tbody>
       </table>
          {{!-- {{else}}
        <h2>unkown product</h2> --}}
          {{/if}}
      </div>
      </form>
    </div>
  </div>
  <div class="col" style="margin-top:10%">  {{!-- phan bill  --}}
    {{#if cartitem}}
    <form method="post" action="printbill">
      <div class="table-wrapper-scroll-y my-custom-scrollbar"> 
          <table class="table table-scroll table-striped">
        <thead>
            <tr>
                <th class="name">Product Name</th>
                <th class="qty">Quantity</th>
                <th class="price">Unit Price</th>
                <th >modify</th>
            </tr>
        </thead>

        <tbody>
          {{#each cartitem}}
            <tr>
              {{!-- these hidden input could be submit to create a bill but im too lazy for that so i will just store time date and price --}}
                {{!-- <input type="hidden" name="product_name" value="{{this.product_name}}"> --}}
                <td class="name">{{this.product_name}}</td>
                {{!-- <input type="hidden" name="quantity" value="{{this.quantity}}"> --}}
                <td class="qty">{{this.quantity}}</td>
                {{!-- <input type="hidden" name="price" value="{{this.price}}"> --}}
                <td class="price">{{this.price}}</td>
                <td><a href='delcart/{{this._id}}'>delete</a> <i class="fas fa-trash"></i></td>
            </tr>
          {{/each}}
        </tbody>
          </table>            
      </div>
        <table class="table table-clear" >
              <tbody>
                <tr>
                  <td class="left">
                       <strong>Subtotal</strong>
                   </td>
                                    
                   <td class="right">{{calculate cartitem}}</td>
                    <input type="hidden" name="price" value="{{calculate cartitem}}">
                  </tr>
            </tbody>  
        </table>    
      <div class="buttons d-flex flex-row mt-5 gap-3">    <button type="submit" class="btn2 btn-outline-dark" id="createbutton"><i  ></i>Create Bill</button> </div> 
      {{/if}}
      </form>
      {{#if cartitem}}
       <div class="buttons d-flex flex-row mt-5 gap-3">    <button class="btn2 btn-outline-dark" ><a href="bills/clear">clear</a></button> </div>
       {{/if}}
    </div>
</div>


<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>